*.png
*.meta
Project/Hide and Seek/Library/metadata/27/27fd7f4282a2f5842870199c0687aa2e.info
*.dll
*.info
Project/Hide and Seek/Library/metadata/00/00000000000000004000000000000000
*.db
Project/Hide and Seek/Library/assetDatabase3
*.log
Project/Hide and Seek/Library/shadercompiler-64bit-1.log
Project/Hide and Seek/Library/metadata/b7/b79231c9fd4727a479334931eda60edd
Project/Hide and Seek/Library/assetDatabase3
Project/Hide and Seek/Library/metadata/39/390bd594910313043855122fd9ced656
Project/Hide and Seek/Library/metadata/00/00000000000000004000000000000000
Project/Hide and Seek/Temp/UnityTempFile-fb79a70213a79bb448678194dcbcb0cc
Project/Hide and Seek/Library/assetDatabase3